*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 70%;
}

.search_bar{
    top: 15;
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    padding: 10px;
    
}

.input{
    width: 30rem;
    display: flex;
    align-items: center;
}

.input input{
    width: 25rem;
    border: none;
    font-size: 2.5rem;
    letter-spacing: .1rem;
    outline: none;
    margin-right: 1rem;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 20px;
}

.input i{
    font-size: 1.5rem;
    cursor: pointer;
}

.search_button{
    background: #111;
    width: 10%;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
}

.search_button .input{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.zip_input{
    text-align: center;
}
/*.search_icon{
    size: 1rem;
    position: absolute;
    top: 25rem;
    right: calc(50% + 20rem)
}

.search_icon i{
    color: #999;
    cursor: pointer;
}*/
